PORT=3000
APP_DOMAIN=http://localhost:3000
FRONTEND_URL=http://localhost:5173

MONGODB_USER=yourUser
MONGODB_PASSWORD=yourPassword
MONGODB_URL=yourCluster.mongodb.net
MONGODB_DB=contactsDB

SECRET_JWT=yourSuperSecretJWT
JWT_EXPIRES_IN=24h

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_FROM=yourEmail@example.com
SMTP_LOGIN=yourMailtrapUsername
SMTP_PASSWORD=yourMailtrapPassword

CLOUDINARY_CLOUD_NAME=yourCloudName
CLOUDINARY_API_KEY=yourCloudinaryApiKey
CLOUDINARY_API_SECRET=yourCloudinaryApiSecret
CLOUDINARY_FOLDER=contacts
